<figure class="figure">
    <img src="../../assets/teamfoto.jpg" class="figure-img img-fluid" alt="Profile picture employee">
</figure>

<article class="d-flex flex-column flex-lg-row">

    <section class="foundation">
        <h2>{{ "COMPANY.FOUNDATION" | translate}}</h2>
        <p>{{ getAbout() }}</p>
    </section>

    <section class="contact">
        <h2>{{ "COMPANY.CONTACT" | translate }}</h2>
        <p>{{ "COMPANY.SUMMARY" | translate }}</p>
        <h6>{{ "COMPANY.COMPANYEMAIL" | translate }}</h6>
        <a href="mailto:team@consultify.org"><i class="bi bi-envelope-fill"></i>team@consultify.org</a>
        <h6>Jan van Overbeek</h6>
        <a href="mailto:jan@consultify.org"><i class="bi bi-envelope-fill"></i>jan@consultify.org</a>
        <h6>Koen van der Marel</h6>
        <a href="mailto:koen@consultify.org"><i class="bi bi-envelope-fill"></i>koen@consultify.org</a>
        <h6>Jeroen Bol</h6>
        <a href="mailto:jeroen@consultify.org"><i class="bi bi-envelope-fill"></i>jeroen@consultify.org</a>
    </section>

</article>
