<figure id="company" class="figure">
    <img src="../../assets/teamfoto.jpg" class="figure-img img-fluid" alt="Profile picture employee">
</figure>

<article class="d-flex flex-column flex-lg-row">

    <section class="foundation">
        <h2>Oprichting</h2>
        <p>Consultify is op 16 februari 2021 opgericht door Jan van Overbeek, Jeroen Bol en Koen van der Marel.
           De oprichters hadden het doel voor ogen de IT consultancy te verbeteren. Alle consultancy was tot heden
           alleen een oplossing op papier waarmee de klant zelf de uitwerking moest maken. Dit is behalve heel duur ook
           langzaam en inefficient. Consultify is hiervoor de oplossing door behalve een gerichte oplossing te vinden
           deze oplossing ook uit te werken. De manieren waarop dit bedrijf zijn doelen heeft bereikt is het verzorgen van
           het goed werken in team verband waardoor de productiviteit veel hoger is als concurenten. Verder wordt er gebruik
           gemaakt van een speciale formule voor het klant contact. Hierdoor kan het probleem snel in kaart gebracht worden
           en hierdoor ook snel aan een oplossing gewerkt worden. Deze techniek word ook wel de consultifast genoemd (Patent
           aangevraagd).
        </p>
    </section>

    <section class="contact">
        <h2>Contact informatie</h2>
        <p>U kunt ons bereiken via verschillende kanalen.</p>
        <h6>Bedrijfs email</h6>
        <a href="mailto:team@consultify.org"><i class="bi bi-envelope-fill"></i>team@consultify.org</a>
        <h6>Jan van Overbeek</h6>
        <a href="mailto:s1120303@student.hsleiden.nl"><i class="bi bi-envelope-fill"></i>s1120303@student.hsleiden.nl</a>
        <h6>Koen van der Marel</h6>
        <a href="mailto:s1117875@student.hsleiden.nl"><i class="bi bi-envelope-fill"></i>s1117875@student.hsleiden.nl</a>
        <h6>Jeroen Bol</h6>
        <a href="mailto:s1120248@student.hsleiden.nl"><i class="bi bi-envelope-fill"></i>s1120248@student.hsleiden.nl</a>
    </section>

</article>
