.carousel-caption {
    color: #343a40;
    background-color: rgba(255,255,255,0.1);
    padding: 0;
    border-radius: 5%;
    width:fit-content;
    margin-left: auto ;
    margin-right: auto ;
}

.carousel-item {
    max-height: 65vh;
    overflow: hidden;
}