<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="A picture about the company">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="A picture about the company">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="A picture about the company">
        </div>
    </div>
</div>