nav {
    background-color: rgba(248, 249, 250, 0.30);
}

.nav-item {
    margin:0 10px 0 10px;
}

.navbar-brand {
    margin-right: 25px;
}

img {
    max-height: 60px;
}

.scroll {
    background-color: #f8f9fa;
    padding: 0;
    img {
        max-height: 40px;
    }
}

a {
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    :hover {
        cursor: pointer;
    }
}

.dropdown {
    .dropdown-menu {
        right: 0;
        left: auto;
        li {
            .dropdown-item {
                font-size: small;
            }
        }
    }

    .dropdown-toggle {
        padding: 10px;
    }
}

.navbar-toggler {
    border: 0.5px solid transparent;
}

@media only screen and (max-width: 992px) {
    .dropdown {
        .dropdown-menu {
            right: auto;
            left: 0;
        }
    }
}