<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/Logo-zwart-cropped.png" style="max-height: 70px; padding: 5px;">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
                <a href="#" class="nav-link">Ons Team</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

</nav>