<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">
        <img src="../../assets/Logo.png">
        Consultify</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Over Consultify</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Ons team</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Contact</a>
        </li>
    </ul>
</div>
