.nav-item {
    margin:0 10px 0 10px;
}

.navbar-brand {
    margin-right: 25px;
}

a {
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    :hover {
        cursor: pointer;
    }
}

.navbar-toggler {
    border: 0.5px solid transparent;
}