<article [style.flex-direction]="inverse ? 'row-inverse' : 'row'">
    <figure class="figure">
        <img src="{{image}}" class="figure-img img-fluid rounded-circle" alt="Profile picture employee">
        <figcaption class="figure-caption">{{name}}</figcaption>
        <figcaption class="figure-caption">{{specialty}}</figcaption>
      </figure>

    <div class="info">
        <div class="quote">
            <i>{{quote}}</i>
        </div>

        <div class="profile">
            <a href="{{github}}"><i class="bi bi-github icon"></i>Github</a>
            <a href="{{linkedin}}"><i class="bi bi-linkedin icon"></i>Linkedin</a>
        </div>
    </div>


</article>
