article {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}

figcaption {
    text-align: center;
}

.info {
    margin: 0 50px 0 50px;
}

i {
    font-size: larger;
}

.profile {
    margin-top: 10px;
    float: right;
    .icon {
        margin: 0 3px 0 12px;
    }
    a {
        color: #343a40;
        :hover {
            color: #212529;
        }
    }
}

