article {
    height: 75vh;
    display: flex;
    align-items: center;
    margin: 0 20px 0 20px;
}

figcaption {
    text-align: center;
}

.info {
    margin-left: 50px;
}

i {
    font-size: larger;
}