<article id="partners" class="row justify-content-center">
        <figure class="col-auto">
            <img src="../../assets/angular.png" alt="Software angular">
        </figure>

        <figure class="col-auto">
            <img src="../../assets/nodejs.png" alt="Software nodejs">
        </figure>

        <figure class="col-auto">
            <img src="../../assets/samsung.png" alt="Company samsung">
        </figure>

        <figure class="col-auto">
            <img src="../../assets/microsoft.png" alt="Company microsoft">
        </figure>

        <figure class="col-auto">
            <img src="../../assets/ea.png" alt="Company electronic arts">
        </figure>

        <figure class="col-auto">
            <img src="../../assets/apple.png" alt="Company apple">
        </figure>
</article>
