<footer class="text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 logo">
            <img src="../../../assets/Logo-zwart-cropped.png" alt="Logo van het bedrijf consultify">
        </div>

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{{ "FOOTER.ABOUT" | translate}}</h5>
          <p>{{ getDescription() }}</p>
        </div>
      </div>
    </div>

    <div class="text-center p-3">
      © 2021 Copyright:
      <a pageScroll class="text-dark" href="#header">Consultify.org</a>
    </div>
  </footer>